* {
  box-sizing: border-box;
}
.header1 {
  text-align: center;
  font-size: 200%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: header1;
}
.body1 {
  background-color: rgb(24, 181, 233);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: 
  "header1 header1"
  "nav1 main1"
  "footer1 footer1"
  ;
}
.nav1 {
  font-size: 100%;
  grid-area: nav1;
  background-color: black;
  color: white;
  border: solid white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
}
.navegador1,
.navegador2, .navegador3, .navegador4, .navegador5 {
  text-align: center;
}
.li {
  color: white;
}

.main1 {
  text-align: center;
  font-size: 150%;
  border: solid white;
  background-color: black;
  color: white;
  grid-area: main1;
}
.imagen1 {
  width: 50%;
  height: 60%;
  border: solid white;
}
.footer1 {
  text-align: end;
  font-size: 100%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: footer1;
}
.body2 {
  background-color: rgb(24, 181, 233);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: 
  "header2 header2"
  "nav2 main2"
  "footer2 footer2"
}
.header2 {
  text-align: center;
  font-size: 200%;
  color: white;
  background-color: black;
  border: solid white;
  grid-area: header2;
}
.nav2 {
  background-color: black;
  color: white;
  border: solid white;
  grid-area: nav2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
}

.main2 {
  font-size: 100%;
  text-align: center;
  background-color: black;
  line-height: 1.6;
  color: white;
  border: solid white;
  grid-area: main2;
}
.historia {
  text-align: center;
}

.footer2 {
  text-align: end;
  font-size: 100%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: footer2;
}

.body3 {
  background-color: rgb(24, 181, 233);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: 
  "header3 header3"
  "nav3 main3"
  "footer3 footer3"
}
.header3 {
  text-align: center;
  font-size: 200%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: header3;
}
.nav3 {
  background-color: black;
  color: white;
  border: solid white;
  grid-area: nav3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
}
.main3 {
  font-size: 100%;
  background-color: black;
  color: white;
  text-align: center;
  border: solid white;
  grid-area: main3;
}
.nito {
  width: 45%;
  height: 30%;
  border: solid white;
}
.bombo {
  width: 50%;
  height: 30%;
  border: solid white;
}
.listat {
  font-weight: italic;
}
.listab {
  font-weight: italic;
}

.footer3 {
  text-align: end;
  font-size: 100%;
  background-color: black;
  border: solid white;
  color: white;
  grid-area: footer3;
}

.body4 {
  background-color: rgb(24, 181, 233);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: 
  "header4 header4"
  "nav4 main4"
  "footer4 footer4"
}
.main4 {
  font-size: 100%;
  background-color: black;
  border: solid white;
  color: white;
  grid-area: main4;
}
.nav4 {
  font-size: 100%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: nav4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
}
.ol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.article {
display: flex;
flex-wrap: wrap;
}
.tituloTym4 {
  font-size: 150%;
}
.header4 {
  font-size: 150%;
  text-align: center;
  text-align: center;
  font-size: 200%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: header4;
}
.roja {
  width: 45%;
  height: 45%;
}
.negra {
  width: 45%;
  height: 45%;
}
.short {
  width: 45%;
  height: 45%;
}
.combo {
  width: 45%;
  height: 45%;
}
.tabla4 {
  font-weight: bold;
  text-align: center;
  border: solid white;
}
.footer4 {
  text-align: end;
  font-size: 100%;
  color: white;
  background-color: black;
  border: solid white;
  grid-area: footer4;
}
.footer5 {
  text-align: end;
  font-size: 100%;
  color: white;
  background-color: black;
  border: solid white;
  grid-area: footer5;
  padding: 1rem;
}
.header5 {
  font-size: 200%;
  color: white;
  background-color: black;
  text-align: center;
  border: solid white;
  grid-area: header5;
  padding: 1rem;
}
.nav5 {
  grid-area: nav5;
  background-color: black;
  color: white;
  border: solid white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
}
.body5 {
  background-color: rgb(24, 181, 233);
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: 
  "header5 header5"
  "nav5 main5"
  "footer5 footer5"
}
.main5 {
  grid-area: main5;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 700px) {

  .header1 {
    text-align: center;
    font-size: 50%;
    background-color: black;
    color: white;
    border: solid white;
    grid-area: header1;
  }
.body1 { 
  background-color: black;
  grid-template-areas: 
  "header1 header1"
  "nav1 nav1"
  "main1 main1"
  "footer1 footer1";
}
.nav1 {
  font-size: 50%;
  grid-area: nav1;
  background-color: black;
  color: white;
  border: solid white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;}

.main1 {
  text-align: center;
  font-size: 50%;
  border: solid white;
  background-color: black;
  color: white;
  grid-area: main1;
}
.footer1 {
  text-align: end;
  font-size: 50%;
  background-color: black;
  color: white;
  border: solid white;
  grid-area: footer1;
}
.imagen1 {
    width: 20%;
    height: 20%; 
}
.body4 {
  background-color: white;
  grid-template-areas: 
  "header4 header4"
  "nav4 nav4"
  "main4 main4"
  "footer4 footer4";
}
.main4 {
  font-size: 50%;
  background-color: black;
  border: solid white;
  color: white;
  grid-area: main4;
}
.ol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 50%;}




}